* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: url(/images/—Pngtree—modern\ simple\ elegant\ dark\ blue_1454711.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: transparent;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  color: white;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: darkgrey;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.199);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}

.sidebar.visible {
  transform: translateX(0);
}

.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
  display: flex;
}


.section1{
    height: 100vh;
    background-image: url(/images/—Pngtree—modern\ simple\ elegant\ dark\ blue_1454711.png);
    background-position: center;
}

.section2{
    background-color: blue;
    height: 100vh;
}












@media(min-width: 1200px) {

    .hideOnDesktop{
        display: none;
    }
}



@media(max-width: 1199px) {
    .hideOnMobile{
        display: none;
    }
}